<div class="container mx-auto max-w-4xl min-h-screen mt-8 box-border">
    <div class="w-full">
        <app-add-workout />
        <!-- <app-workout-list /> -->
        <div class="flex duration-200 transition-colors">
            <div
                class="my-8 mx-2 w-max cursor-pointer text-white px-4 py-2.5 rounded-md"
                [ngClass]="{
                    'bg-blue-800': view === 'table',
                    'bg-slate-200 text-slate-600': view !== 'table'
                }"
                (click)="setView('table')"
            >
                <button class="lowercase" icon="">view as table</button>
            </div>

            <div
                class="my-8 mx-8 w-max cursor-pointer text-white px-4 py-2.5 rounded-md"
                [ngClass]="{
                    'bg-blue-800': view === 'graph',
                    'bg-slate-200 text-slate-600': view !== 'graph'
                }"
                (click)="setView('graph')"
            >
                <button class="" icon="">view as graph</button>
            </div>
        </div>

        <div *ngIf="view === 'table'">
            <app-workout-list />
        </div>
        <div *ngIf="view === 'graph'">
            <app-workout-chart />
        </div>
    </div>
</div>

<!-- <router-outlet /> -->
